<div class="row">
    <div class="col-md-4" ng-repeat="produto in produtos | limitTo:10 | filter:pesquisarProduto">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header">
                <div class="widget-user-image">
                  <img src="../app/dist/img/coca.jpg" class="img-responsive" alt="Produto">
                </div>
                <h4 class="widget-user-desc">{{produto.produto.titulo}}</h4>
                <p class="">{{produto.produto.descricao}}</p>
            </div>
            <div class="box-footer no-padding">
            <table class="table table-condensed table-hover no-margin" ng-controller="UsuarioController">
              <tbody>
                <tr ng-repeat="preco in produto.precos | orderBy:preco">
                  <td>
                    <span class="pull-right text-blue" ng-show="item_qnt > 0" data-toggle="tooltip" data-placement="top" data-original-title="Item já incluso no carrinho de compras"><i class="fa fa-cart-plus" style="positon: relative; top:-50px; font-size: 200%;"></i></span>
                    <span style="display: block; margin-bottom:-8px;">
                        {{preco.estabelecimento.nome}}
                    </span>
                    <small>{{preco.estabelecimento.localizacao}}
                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Ver Avaliações">
                      <i class="fa fa-star text-yellow" ng-repeat="n in range(1,preco.avaliacao)"></i><i class="fa fa-star-half-o text-yellow" ng-repeat="n in range(0.5,preco.estabelecimento.avaliacao%1)"></i> </a>
                    </small>
                  </td>
                  <td class="text-center" style="width: 20%; vertical-align: middle; padding:1px;">
                    <span class="badge bg-yellow" ng-class="{'bg-green': preco.melhorPreco}">{{preco.preco | currency}} </span>
                  </td>
                  <td style="width: 25%; vertical-align: middle; padding: 0px;">
                    <span class="input-group" min="0" max="99" ng-model="item_qnt" rn-stepper ng-change="updateQnt({{preco}});"></span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
            </div>
        </div>
    </div>
</div>
